.simpleContainer{
    width: 300px;
    float:left;
    padding: 5px;
    border: 1px solid black;
    background-color:#ececec;
    margin-top: 5px;
}
.searchContainer{
    width: 300px;
    float:left;
    clear:both;
    padding: 5px;
    border: 1px solid black;
    background-color:#ececec;
    margin-top: 5px;
}
.hintContainer{
    width: 600px;
    clear:both;
    float:left;
    padding: 5px;
    border: 1px solid black;
    background-color:#ececec;
    margin-top: 5px;
}
.hint{
    background-color:yellowgreen;
    float:left;
    padding: 2px;
    margin: 3px;
}
.zoznamTable{
    width: auto;
    padding: 5px;
    border: 1px solid black;
    clear:both;
}
.receptyTable{
    width: auto;
    padding: 5px;
    border: 1px solid black;
    clear:both;
}
td{
    padding: 0 5px 0 5px;
}
tr:nth-child(even){background-color: #f2f2f2}


